[Unit]
Description=Web Platform Test Monitoring Service
After=network.target auditd.service wpt.service

[Service]
WorkingDirectory=/root/web-platform-tests/
Type=oneshot
ExecStart=/root/monitor-wpt.sh http
ExecStart=/root/monitor-wpt.sh https
KillMode=control-group

[Install]
WantedBy=multi-user.target
