[Unit]
Description=Web Platform Test Monitoring Service
After=network.target auditd.service wpt.service

[Service]
WorkingDirectory=/var/www/web-platform-tests/
Type=oneshot
ExecStart=/usr/local/bin/monitor-wpt.sh http
ExecStart=/usr/local/bin/monitor-wpt.sh https
KillMode=control-group

[Install]
WantedBy=multi-user.target
