[Unit]
Description=Web Platform Test Service
After=network.target auditd.service

[Service]
WorkingDirectory=/var/www/wpt/
User=www-data
ExecStart=/var/www/wpt/wpt serve
KillMode=control-group
Restart=on-failure

[Install]
WantedBy=multi-user.target

