[Unit]
Description=Web Platform Test Service
After=network.target auditd.service

[Service]
WorkingDirectory=/var/www/web-platform-tests/
User=www-data
ExecStart=/usr/bin/authbind --deep /var/www/web-platform-tests/wpt serve
KillMode=control-group
Restart=on-failure

[Install]
WantedBy=multi-user.target

